button {
    background-color : gray;
    color : white;
    width: fit-content;
    height: fit-content;
}

canvas {
    background-color:white;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
}
