p.bienvenue {
    color: black;
    font-size: larger;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
}

button {
    background-color : lightblue;
    color : black;
    width: fit-content;
    height: fit-content;
    font-size: large;
    margin-inline:  2%;
    border-color: lightblue;
}

.button {
  text-align: center;
  background-color: lightblue;
}

.canvasplace {
    text-align: center;
    margin: 3%;
}

.canvasborder {
    display: inline-block;
    background-color: rgba(3, 100, 95, 0.26);
    width: fit-content;
    border-top: 100px solid rgba(3, 100, 95, 0.26);
    border-left: 15px solid rgba(39, 128, 150, 0.562);
    border-right: 15px solid rgba(39, 128, 150, 0.596);
    border-bottom: 10px solid rgba(3, 100, 95, 0.26);
}

.image_bomb {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    margin: 1%;
}

.compteur {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    background-color: rgb(3, 100, 95);
    border-left: 10px solid rgb(3, 100, 95);
    border-right: 10px solid rgb(3, 100, 95);
    border-top: 11px solid rgb(3, 100, 95);
    border-bottom: 12px solid rgb(3, 100, 95);
    font-size: larger;
    position: absolute;
    margin-top: 1%;
    margin-left: 4%;
}

.playerWinDiv{
    text-align: center;
    margin: 2%;
}

.retryDiv{
    text-align: center;
    margin: 2%;
}

.chrono {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;

}